@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Rubik:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
}

.sticky__header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
    box-shadow: 3px 3px -8px 3px #addd;

}

@media only screen and (max-width:768px) {
    .navigation{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        background:#eb595984;
        display: none;
    }
    .menu{
        width: 15rem;
        height:100% ;
        position: absolute;
        top: 0;
        right: 0;
        background:#fff;
        z-index: 200;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        line-height: 30px;  
    }
    .show__menu{
        display: block;
    }
}

/* .salon-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 10px;
} */
.salon-card{
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

  /* Custom arrow styling (optional) */
 /* .custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #333;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 8px;
} */

/* publications.css */
.publication-card {
    border: 1px solid #e0e0e0; /* Add border */
    border-radius: 8px; /* Add border radius for rounded corners */
    margin: 10px; /* Add margin for spacing between cards */
    padding: 15px; /* Add padding inside the cards */
  }
  
  .publication-image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Add border radius for rounded corners */
  }
  
  .publication-details {
    margin-top: 10px; /* Add margin between image and details */
  }
  
  .publication-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; /* Add margin below title */
  }
  
  .publication-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px; /* Add margin below date */
  }
  
  .publication-link {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    display: block;
  }

  /* Add hover color for links */
.header .menu .active {
  color: #ff69b4; /* Pink color */
}

/* Active link styles */
.header .menu .active {
  color: #ff69b4; /* Pink color */
  font-weight: bold;
  /* Add any other styles for active links */
}

  

